In [2]:
from langchain.agents import create_sql_agent, AgentType
from langchain.chat_models import ChatOpenAI
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase

llm = ChatOpenAI(
    temperature=0.1,
    model_name="gpt-4-1106-preview",
)
db = SQLDatabase.from_uri("sqlite:///movies.sqlite")
toolkit = SQLDatabaseToolkit(db=db, llm=llm)
print(db)
agent = create_sql_agent(
    llm=llm,
    toolkit=toolkit,
    agent_type=AgentType.OPENAI_FUNCTIONS,
    verbose=True,
)

agent.invoke(
    "Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue."
)

<langchain.utilities.sql_database.SQLDatabase object at 0x127505210>


> Entering new AgentExecutor chain...

Invoking: `sql_db_list_tables` with ``


directors, movies
Invoking: `sql_db_schema` with `movies, directors`



CREATE TABLE directors (
	name TEXT,
	id INTEGER,
	gender INTEGER,
	uid INTEGER,
	department TEXT,
	PRIMARY KEY (id)
)

/*
3 rows from directors table:
name	id	gender	uid	department
James Cameron	4762	2	2710	Directing
Gore Verbinski	4763	2	1704	Directing
Sam Mendes	4764	2	39	Directing
*/


CREATE TABLE movies (
	id INTEGER,
	original_title VARCHAR,
	budget INTEGER,
	popularity INTEGER,
	release_date TEXT,
	revenue INTEGER,
	title TEXT,
	vote_average REAL,
	vote_count INTEGER,
	overview TEXT,
	tagline TEXT,
	uid INTEGER,
	director_id INTEGER DEFAULT 0 NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from movies table:
id	original_title	budget	popularity	release_date	revenue	title	vote_average	vote_count	overview	tagline	uid	director_id
43597	Avatar	237000000	150	2009-12-10	2787965087	Avatar	7.2	11800	In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but 	Enter the World of Pandora.	19995	4762
43598	Pirates of the Caribbean: At World's End	300000000	139	2007-05-19	961000000	Pirates of the Caribbean: At World's End	6.9	4500	Captain Barbossa, long believed to be dead, has come back to life and is headed to the edge of the E	At the end of the world, the adventure begins.	285	4763
43599	Spectre	245000000	107	2015-10-26	880674609	Spectre	6.3	4466	A cryptic message from Bondâ€™s past sends him on a trail to uncover a sinister organization. While M 	A Plan No One Escapes	206647	4764
*/
Invoking: `sql_db_query_checker` with `SELECT m.original_title, d.name AS director_name, m.budget, m.vote_count, m.revenue FROM movies m JOIN directors d ON m.director_id = d.id ORDER BY m.vote_count DESC, m.budget ASC LIMIT 10`
responded: To find the movies with the highest votes but the lowest budgets, I will need to join the `movies` table with the `directors` table on the `director_id` field. I will order the results by `vote_count` in descending order to get the highest votes and by `budget` in ascending order to get the lowest budgets. I will limit the results to at most 10 entries. Let's construct the query.

```sql
SELECT m.original_title, d.name AS director_name, m.budget, m.vote_count, m.revenue
FROM movies m
JOIN directors d ON m.director_id = d.id
ORDER BY m.vote_count DESC, m.budget ASC
LIMIT 10
```
Invoking: `sql_db_query` with `SELECT m.original_title, d.name AS director_name, m.budget, m.vote_count, m.revenue FROM movies m JOIN directors d ON m.director_id = d.id ORDER BY m.vote_count DESC, m.budget ASC LIMIT 10`


[('Inception', 'Christopher Nolan', 160000000, 13752, 825532764), ('The Dark Knight', 'Christopher Nolan', 185000000, 12002, 1004558444), ('Avatar', 'James Cameron', 237000000, 11800, 2787965087), ('The Avengers', 'Joss Whedon', 220000000, 11776, 1519557910), ('Deadpool', 'Tim Miller', 58000000, 10995, 783112979), ('Interstellar', 'Christopher Nolan', 165000000, 10867, 675120017), ('Django Unchained', 'Quentin Tarantino', 100000000, 10099, 425368238), ('Guardians of the Galaxy', 'James Gunn', 170000000, 9742, 773328629), ('The Hunger Games', 'Gary Ross', 75000000, 9455, 691210692), ('Mad Max: Fury Road', 'George Miller', 150000000, 9427, 378858340)]Here are the movies with the highest votes but the lowest budgets, along with the names of their directors and their gross revenue:

1. "Inception" directed by Christopher Nolan, with a budget of $160,000,000, received 13,752 votes, and grossed $825,532,764.
2. "The Dark Knight" directed by Christopher Nolan, with a budget of $185,000,000, received 12,002 votes, and grossed $1,004,558,444.
3. "Avatar" directed by James Cameron, with a budget of $237,000,000, received 11,800 votes, and grossed $2,787,965,087.
4. "The Avengers" directed by Joss Whedon, with a budget of $220,000,000, received 11,776 votes, and grossed $1,519,557,910.
5. "Deadpool" directed by Tim Miller, with a budget of $58,000,000, received 10,995 votes, and grossed $783,112,979.
6. "Interstellar" directed by Christopher Nolan, with a budget of $165,000,000, received 10,867 votes, and grossed $675,120,017.
7. "Django Unchained" directed by Quentin Tarantino, with a budget of $100,000,000, received 10,099 votes, and grossed $425,368,238.
8. "Guardians of the Galaxy" directed by James Gunn, with a budget of $170,000,000, received 9,742 votes, and grossed $773,328,629.
9. "The Hunger Games" directed by Gary Ross, with a budget of $75,000,000, received 9,455 votes, and grossed $691,210,692.
10. "Mad Max: Fury Road" directed by George Miller, with a budget of $150,000,000, received 9,427 votes, and grossed $378,858,340.

These results are ordered by the number of votes in descending order and then by budget in ascending order.

> Finished chain.

{'input': 'Give me the movies that have the highest votes but the lowest budgets and give me the name of their directors also include their gross revenue.',
 'output': 'Here are the movies with the highest votes but the lowest budgets, along with the names of their directors and their gross revenue:\n\n1. "Inception" directed by Christopher Nolan, with a budget of $160,000,000, received 13,752 votes, and grossed $825,532,764.\n2. "The Dark Knight" directed by Christopher Nolan, with a budget of $185,000,000, received 12,002 votes, and grossed $1,004,558,444.\n3. "Avatar" directed by James Cameron, with a budget of $237,000,000, received 11,800 votes, and grossed $2,787,965,087.\n4. "The Avengers" directed by Joss Whedon, with a budget of $220,000,000, received 11,776 votes, and grossed $1,519,557,910.\n5. "Deadpool" directed by Tim Miller, with a budget of $58,000,000, received 10,995 votes, and grossed $783,112,979.\n6. "Interstellar" directed by Christopher Nolan, with a budget of $165,000,000, received 10,867 votes, and grossed $675,120,017.\n7. "Django Unchained" directed by Quentin Tarantino, with a budget of $100,000,000, received 10,099 votes, and grossed $425,368,238.\n8. "Guardians of the Galaxy" directed by James Gunn, with a budget of $170,000,000, received 9,742 votes, and grossed $773,328,629.\n9. "The Hunger Games" directed by Gary Ross, with a budget of $75,000,000, received 9,455 votes, and grossed $691,210,692.\n10. "Mad Max: Fury Road" directed by George Miller, with a budget of $150,000,000, received 9,427 votes, and grossed $378,858,340.\n\nThese results are ordered by the number of votes in descending order and then by budget in ascending order.'}